body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: aquamarine;
    font-size: 16px;
}

.header {
    text-align: center;
}

.white {
    color: white;
}

.title {
    font-size: 50px;
}